
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #1abc9c;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #e53135;
// $secondary: #313131;
$secondary:#202124;
$bdrColor: #ebedf2;
$content:#f2f5f5;
$success: #1abc9c;
$info: #00acc1;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$bgLight: #f5f6f8;
$muted: #d9d9d9;
$bodyColor:#575757;
$hvrBgColor:#fafafa;
$bodyBgColor:#f6f7fb;
$accent:#ecf1f8;

$fontOpenSans: 'Open Sans', sans-serif;


// breakPoint
$breakPoint:1025px;
$mobileView:1024px;
$tabSm:980px;
$mobileLg:700px;
$mobileSm:576px;
$mdBreakPoint:768px;
$mdMobileView: 767px;
$black:#000;
